html {
	font-family: "Comic Sans", cursive;
	background: #FFE4E1;
}

.tri-home {
	background: orange;
}

.tri-home h1 {
	color: red;
	text-align: center;
	line-height: 15px;
}

.tri-home h2 {
	color: blue;
	text-align: center;
	line-height: 15px;
}

.tri-nav {
	display: block;
	background-color: grey;
}

.tri-nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 10px;
  	text-align: center;
}

.tri-nav li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}

.tri-nav a {
	font-size: 17px;
}

.tri-body-container {
	background: #9ACD32;
}

.tri-sidebar {
	position: fixed;
	right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main {
	margin-right: 250px;
	padding-left: 10px;
	padding-right: 10px
}

.main h2, h3, h4 {
	text-align: left;
}

.main hr {
	width: 90%;
	margin: 0px;
}

.main h3, h4 {
	margin-bottom: -10px;
}

.main footer {
	text-align: center;
}

.main h4 {
	text-indent: 1em;
}

.image-container {
	overflow: hidden;
	align-content: center;
}

img {
	border: 5px solid red;
	max-width: 100%;
	width: 200px;
}